<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610135609560-ld8p7lcnue8jbd2k3jqg7m4tdki7m1fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610135609560-ld8p7lcnue8jbd2k3jqg7m4tdki7m1fi</string>
	<key>API_KEY</key>
	<string>AIzaSyCnOyfeKZAwmyr9uuNlRoaUWp8QxKnKf3U</string>
	<key>GCM_SENDER_ID</key>
	<string>610135609560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nileClub</string>
	<key>PROJECT_ID</key>
	<string>cashaman-bd5c5</string>
	<key>STORAGE_BUCKET</key>
	<string>cashaman-bd5c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610135609560:ios:101706a9b914458ffd87ad</string>
	<key>DATABASE_URL</key>
	<string>https://cashaman-bd5c5.firebaseio.com</string>
</dict>
</plist>